{
  "openapi": "3.1.0",
  "info": {
    "title": "qrbni NocoDB CV base",
    "version": "1.0.0",
    "description": "Generated from NocoDB Meta API because the PAT lacks swaggerJson. Regenerate with npm run nocodb:openapi."
  },
  "servers": [
    {
      "url": "https://app.nocodb.com"
    }
  ],
  "tags": [
    {
      "name": "SiteSettings",
      "description": "Table SiteSettings (mt5ryw6xd5p4uzh)"
    },
    {
      "name": "Profile",
      "description": "Table Profile (mj95o6kije73ef6)"
    },
    {
      "name": "ProfileLocale",
      "description": "Table ProfileLocale (mj9pet753har2cw)"
    },
    {
      "name": "Experience",
      "description": "Table Experience (m6hz7c6gy0uocpr)"
    },
    {
      "name": "ExperienceLocale",
      "description": "Table ExperienceLocale (ms7tl779p3us138)"
    },
    {
      "name": "ExperienceHighlight",
      "description": "Table ExperienceHighlight (mvg7ly9o5s02kle)"
    },
    {
      "name": "Project",
      "description": "Table Project (m0eyo7az9b8icq5)"
    },
    {
      "name": "ProjectLocale",
      "description": "Table ProjectLocale (mvycmtfajv61kgd)"
    },
    {
      "name": "Education",
      "description": "Table Education (m5kxnwxf9f7rkkj)"
    },
    {
      "name": "EducationLocale",
      "description": "Table EducationLocale (myr5jk40v3iw30s)"
    },
    {
      "name": "Skill",
      "description": "Table Skill (m7vi25il2esozvw)"
    },
    {
      "name": "Language",
      "description": "Table Language (m2oqpufqtn80gsx)"
    },
    {
      "name": "SocialLink",
      "description": "Table SocialLink (mdzh4gwchfje2y9)"
    },
    {
      "name": "ServiceCategory",
      "description": "Table ServiceCategory (mj3hrhct117jnnl)"
    },
    {
      "name": "ServiceCategoryLocale",
      "description": "Table ServiceCategoryLocale (m76g2r4dx1l35gf)"
    },
    {
      "name": "Service",
      "description": "Table Service (mvo7hy38c52u94r)"
    },
    {
      "name": "ServiceLocale",
      "description": "Table ServiceLocale (mzbyx8j5396pqnk)"
    },
    {
      "name": "BlogTag",
      "description": "Table BlogTag (mgmxeh7fx6smtxv)"
    },
    {
      "name": "BlogTagLocale",
      "description": "Table BlogTagLocale (mexfths3zxg4ufx)"
    },
    {
      "name": "BlogCategory",
      "description": "Table BlogCategory (m5jck17x53j98kp)"
    },
    {
      "name": "BlogCategoryLocale",
      "description": "Table BlogCategoryLocale (mxdxijqr1hy64mm)"
    },
    {
      "name": "BlogPost",
      "description": "Table BlogPost (msd14u1seb5bcav)"
    },
    {
      "name": "ContactMessage",
      "description": "Table ContactMessage (m1lfvq0kb7h7f45)"
    }
  ],
  "paths": {
    "/api/v2/tables/mt5ryw6xd5p4uzh/records": {
      "get": {
        "operationId": "listSiteSettings",
        "tags": [
          "SiteSettings"
        ],
        "summary": "List SiteSettings",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSettingsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createSiteSettings",
        "tags": [
          "SiteSettings"
        ],
        "summary": "Create SiteSettings record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SiteSettingsWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SiteSettingsWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SiteSettingsRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SiteSettingsRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateSiteSettings",
        "tags": [
          "SiteSettings"
        ],
        "summary": "Update SiteSettings record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SiteSettingsWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SiteSettingsWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SiteSettingsRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SiteSettingsRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteSiteSettings",
        "tags": [
          "SiteSettings"
        ],
        "summary": "Delete SiteSettings record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mt5ryw6xd5p4uzh/records/{recordId}": {
      "get": {
        "operationId": "getSiteSettings",
        "tags": [
          "SiteSettings"
        ],
        "summary": "Get SiteSettings by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSettingsRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mj95o6kije73ef6/records": {
      "get": {
        "operationId": "listProfile",
        "tags": [
          "Profile"
        ],
        "summary": "List Profile",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createProfile",
        "tags": [
          "Profile"
        ],
        "summary": "Create Profile record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProfileRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateProfile",
        "tags": [
          "Profile"
        ],
        "summary": "Update Profile record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ProfileWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ProfileWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProfileRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteProfile",
        "tags": [
          "Profile"
        ],
        "summary": "Delete Profile record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mj95o6kije73ef6/records/{recordId}": {
      "get": {
        "operationId": "getProfile",
        "tags": [
          "Profile"
        ],
        "summary": "Get Profile by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mj9pet753har2cw/records": {
      "get": {
        "operationId": "listProfileLocale",
        "tags": [
          "ProfileLocale"
        ],
        "summary": "List ProfileLocale",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileLocaleListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createProfileLocale",
        "tags": [
          "ProfileLocale"
        ],
        "summary": "Create ProfileLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileLocaleWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileLocaleWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProfileLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateProfileLocale",
        "tags": [
          "ProfileLocale"
        ],
        "summary": "Update ProfileLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ProfileLocaleWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ProfileLocaleWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProfileLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteProfileLocale",
        "tags": [
          "ProfileLocale"
        ],
        "summary": "Delete ProfileLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mj9pet753har2cw/records/{recordId}": {
      "get": {
        "operationId": "getProfileLocale",
        "tags": [
          "ProfileLocale"
        ],
        "summary": "Get ProfileLocale by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileLocaleRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m6hz7c6gy0uocpr/records": {
      "get": {
        "operationId": "listExperience",
        "tags": [
          "Experience"
        ],
        "summary": "List Experience",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createExperience",
        "tags": [
          "Experience"
        ],
        "summary": "Create Experience record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ExperienceRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateExperience",
        "tags": [
          "Experience"
        ],
        "summary": "Update Experience record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ExperienceWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ExperienceWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ExperienceRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteExperience",
        "tags": [
          "Experience"
        ],
        "summary": "Delete Experience record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m6hz7c6gy0uocpr/records/{recordId}": {
      "get": {
        "operationId": "getExperience",
        "tags": [
          "Experience"
        ],
        "summary": "Get Experience by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/ms7tl779p3us138/records": {
      "get": {
        "operationId": "listExperienceLocale",
        "tags": [
          "ExperienceLocale"
        ],
        "summary": "List ExperienceLocale",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceLocaleListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createExperienceLocale",
        "tags": [
          "ExperienceLocale"
        ],
        "summary": "Create ExperienceLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceLocaleWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceLocaleWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ExperienceLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateExperienceLocale",
        "tags": [
          "ExperienceLocale"
        ],
        "summary": "Update ExperienceLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ExperienceLocaleWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ExperienceLocaleWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ExperienceLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteExperienceLocale",
        "tags": [
          "ExperienceLocale"
        ],
        "summary": "Delete ExperienceLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/ms7tl779p3us138/records/{recordId}": {
      "get": {
        "operationId": "getExperienceLocale",
        "tags": [
          "ExperienceLocale"
        ],
        "summary": "Get ExperienceLocale by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceLocaleRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mvg7ly9o5s02kle/records": {
      "get": {
        "operationId": "listExperienceHighlight",
        "tags": [
          "ExperienceHighlight"
        ],
        "summary": "List ExperienceHighlight",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceHighlightListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createExperienceHighlight",
        "tags": [
          "ExperienceHighlight"
        ],
        "summary": "Create ExperienceHighlight record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceHighlightWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceHighlightWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ExperienceHighlightRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceHighlightRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateExperienceHighlight",
        "tags": [
          "ExperienceHighlight"
        ],
        "summary": "Update ExperienceHighlight record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ExperienceHighlightWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ExperienceHighlightWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ExperienceHighlightRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceHighlightRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteExperienceHighlight",
        "tags": [
          "ExperienceHighlight"
        ],
        "summary": "Delete ExperienceHighlight record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mvg7ly9o5s02kle/records/{recordId}": {
      "get": {
        "operationId": "getExperienceHighlight",
        "tags": [
          "ExperienceHighlight"
        ],
        "summary": "Get ExperienceHighlight by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceHighlightRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m0eyo7az9b8icq5/records": {
      "get": {
        "operationId": "listProject",
        "tags": [
          "Project"
        ],
        "summary": "List Project",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createProject",
        "tags": [
          "Project"
        ],
        "summary": "Create Project record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProjectRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateProject",
        "tags": [
          "Project"
        ],
        "summary": "Update Project record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ProjectWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ProjectWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProjectRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteProject",
        "tags": [
          "Project"
        ],
        "summary": "Delete Project record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m0eyo7az9b8icq5/records/{recordId}": {
      "get": {
        "operationId": "getProject",
        "tags": [
          "Project"
        ],
        "summary": "Get Project by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mvycmtfajv61kgd/records": {
      "get": {
        "operationId": "listProjectLocale",
        "tags": [
          "ProjectLocale"
        ],
        "summary": "List ProjectLocale",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectLocaleListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createProjectLocale",
        "tags": [
          "ProjectLocale"
        ],
        "summary": "Create ProjectLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectLocaleWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectLocaleWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProjectLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateProjectLocale",
        "tags": [
          "ProjectLocale"
        ],
        "summary": "Update ProjectLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ProjectLocaleWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ProjectLocaleWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProjectLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteProjectLocale",
        "tags": [
          "ProjectLocale"
        ],
        "summary": "Delete ProjectLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mvycmtfajv61kgd/records/{recordId}": {
      "get": {
        "operationId": "getProjectLocale",
        "tags": [
          "ProjectLocale"
        ],
        "summary": "Get ProjectLocale by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectLocaleRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m5kxnwxf9f7rkkj/records": {
      "get": {
        "operationId": "listEducation",
        "tags": [
          "Education"
        ],
        "summary": "List Education",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createEducation",
        "tags": [
          "Education"
        ],
        "summary": "Create Education record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EducationWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EducationWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EducationRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateEducation",
        "tags": [
          "Education"
        ],
        "summary": "Update Education record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/EducationWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/EducationWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EducationRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteEducation",
        "tags": [
          "Education"
        ],
        "summary": "Delete Education record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m5kxnwxf9f7rkkj/records/{recordId}": {
      "get": {
        "operationId": "getEducation",
        "tags": [
          "Education"
        ],
        "summary": "Get Education by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/myr5jk40v3iw30s/records": {
      "get": {
        "operationId": "listEducationLocale",
        "tags": [
          "EducationLocale"
        ],
        "summary": "List EducationLocale",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationLocaleListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createEducationLocale",
        "tags": [
          "EducationLocale"
        ],
        "summary": "Create EducationLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EducationLocaleWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EducationLocaleWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EducationLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateEducationLocale",
        "tags": [
          "EducationLocale"
        ],
        "summary": "Update EducationLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/EducationLocaleWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/EducationLocaleWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EducationLocaleRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationLocaleRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteEducationLocale",
        "tags": [
          "EducationLocale"
        ],
        "summary": "Delete EducationLocale record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/myr5jk40v3iw30s/records/{recordId}": {
      "get": {
        "operationId": "getEducationLocale",
        "tags": [
          "EducationLocale"
        ],
        "summary": "Get EducationLocale by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationLocaleRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m7vi25il2esozvw/records": {
      "get": {
        "operationId": "listSkill",
        "tags": [
          "Skill"
        ],
        "summary": "List Skill",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createSkill",
        "tags": [
          "Skill"
        ],
        "summary": "Create Skill record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SkillWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SkillWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SkillRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SkillRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateSkill",
        "tags": [
          "Skill"
        ],
        "summary": "Update Skill record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SkillWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SkillWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SkillRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SkillRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteSkill",
        "tags": [
          "Skill"
        ],
        "summary": "Delete Skill record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m7vi25il2esozvw/records/{recordId}": {
      "get": {
        "operationId": "getSkill",
        "tags": [
          "Skill"
        ],
        "summary": "Get Skill by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m2oqpufqtn80gsx/records": {
      "get": {
        "operationId": "listLanguage",
        "tags": [
          "Language"
        ],
        "summary": "List Language",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createLanguage",
        "tags": [
          "Language"
        ],
        "summary": "Create Language record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LanguageWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LanguageWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LanguageRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LanguageRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateLanguage",
        "tags": [
          "Language"
        ],
        "summary": "Update Language record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/LanguageWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/LanguageWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LanguageRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LanguageRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteLanguage",
        "tags": [
          "Language"
        ],
        "summary": "Delete Language record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/m2oqpufqtn80gsx/records/{recordId}": {
      "get": {
        "operationId": "getLanguage",
        "tags": [
          "Language"
        ],
        "summary": "Get Language by id",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      }
    },
    "/api/v2/tables/mdzh4gwchfje2y9/records": {
      "get": {
        "operationId": "listSocialLink",
        "tags": [
          "SocialLink"
        ],
        "summary": "List SocialLink",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialLinkListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "post": {
        "operationId": "createSocialLink",
        "tags": [
          "SocialLink"
        ],
        "summary": "Create SocialLink record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SocialLinkWrite"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SocialLinkWrite"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SocialLinkRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SocialLinkRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "patch": {
        "operationId": "updateSocialLink",
        "tags": [
          "SocialLink"
        ],
        "summary": "Update SocialLink record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SocialLinkWrite"
                      },
                      {
                        "type": "object",
                        "required": [
                          "Id"
                        ],
                        "properties": {
                          "Id": {
                            "type": "integer"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SocialLinkWrite"
                        },
                        {
                          "type": "object",
                          "required": [
                            "Id"
                          ],
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SocialLinkRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SocialLinkRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xcToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteSocialLink",
        "tags": [
          "SocialLink"
        ],
        "summary": "Delete SocialLink record(s)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "Id"
                    ],
                    "properties": {
                      "Id": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "Id"
                      ],
                      "properties": {
                        "Id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
[...]
