{
  "openapi": "3.0.0",
  "info": {
    "title": "nocodb",
    "version": "2.0",
    "description": "Fetched live from NocoDB v2 base swagger.\nSource: /api/v2/meta/bases/p4cutoefjsz0z2t/swagger.json\nRegenerate: npm run nocodb:openapi"
  },
  "servers": [
    {
      "url": "https://app.nocodb.com"
    }
  ],
  "paths": {
    "/api/v2/tables/mt5ryw6xd5p4uzh/records": {
      "get": {
        "summary": "SiteSettings list",
        "operationId": "sitesettings-db-table-row-list",
        "description": "List of all rows from SiteSettings table and response data fields can be filtered based on query params.",
        "tags": [
          "SiteSettings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vw3157v0n0ogrr53"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw3157v0n0ogrr53 - SiteSettings",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SiteSettingsResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "SiteSettings create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "sitesettings-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSettingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "SiteSettings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SiteSettingsRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SiteSettingsRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "SiteSettings update",
        "operationId": "sitesettings-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "SiteSettings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SiteSettingsRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SiteSettingsRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "SiteSettings delete",
        "operationId": "sitesettings-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "SiteSettings"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SiteSettingsIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SiteSettingsIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mt5ryw6xd5p4uzh/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "SiteSettings read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "sitesettings-read",
        "tags": [
          "SiteSettings"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSettingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mt5ryw6xd5p4uzh/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vw3157v0n0ogrr53"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw3157v0n0ogrr53 - SiteSettings",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "SiteSettings count",
        "operationId": "sitesettings-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "SiteSettings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/mj95o6kije73ef6/records": {
      "get": {
        "summary": "Profile list",
        "operationId": "profile-db-table-row-list",
        "description": "List of all rows from Profile table and response data fields can be filtered based on query params.",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vwtmrhcs6smrjpsg"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwtmrhcs6smrjpsg - Profile",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Profile create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "profile-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Profile update",
        "operationId": "profile-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Profile delete",
        "operationId": "profile-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Profile"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mj95o6kije73ef6/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "Profile read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "profile-read",
        "tags": [
          "Profile"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mj95o6kije73ef6/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vwtmrhcs6smrjpsg"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwtmrhcs6smrjpsg - Profile",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Profile count",
        "operationId": "profile-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/mj9pet753har2cw/records": {
      "get": {
        "summary": "ProfileLocale list",
        "operationId": "profilelocale-db-table-row-list",
        "description": "List of all rows from ProfileLocale table and response data fields can be filtered based on query params.",
        "tags": [
          "ProfileLocale"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vw0vc34cdy8hqqbu"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw0vc34cdy8hqqbu - ProfileLocale",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileLocaleResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "ProfileLocale create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "profilelocale-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileLocaleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ProfileLocale"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileLocaleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileLocaleRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "ProfileLocale update",
        "operationId": "profilelocale-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ProfileLocale"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileLocaleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileLocaleRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "ProfileLocale delete",
        "operationId": "profilelocale-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "ProfileLocale"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileLocaleIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProfileLocaleIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mj9pet753har2cw/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "ProfileLocale read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "profilelocale-read",
        "tags": [
          "ProfileLocale"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileLocaleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mj9pet753har2cw/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vw0vc34cdy8hqqbu"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw0vc34cdy8hqqbu - ProfileLocale",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "ProfileLocale count",
        "operationId": "profilelocale-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "ProfileLocale"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/m6hz7c6gy0uocpr/records": {
      "get": {
        "summary": "Experience list",
        "operationId": "experience-db-table-row-list",
        "description": "List of all rows from Experience table and response data fields can be filtered based on query params.",
        "tags": [
          "Experience"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vwvg2rxoit1se3c8"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwvg2rxoit1se3c8 - Experience",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Experience create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "experience-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Experience"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Experience update",
        "operationId": "experience-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Experience"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Experience delete",
        "operationId": "experience-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Experience"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/m6hz7c6gy0uocpr/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "Experience read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "experience-read",
        "tags": [
          "Experience"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/m6hz7c6gy0uocpr/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vwvg2rxoit1se3c8"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwvg2rxoit1se3c8 - Experience",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Experience count",
        "operationId": "experience-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "Experience"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/ms7tl779p3us138/records": {
      "get": {
        "summary": "ExperienceLocale list",
        "operationId": "experiencelocale-db-table-row-list",
        "description": "List of all rows from ExperienceLocale table and response data fields can be filtered based on query params.",
        "tags": [
          "ExperienceLocale"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vws1fp7c80j26whg"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vws1fp7c80j26whg - ExperienceLocale",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceLocaleResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "ExperienceLocale create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "experiencelocale-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceLocaleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ExperienceLocale"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceLocaleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceLocaleRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "ExperienceLocale update",
        "operationId": "experiencelocale-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ExperienceLocale"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceLocaleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceLocaleRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "ExperienceLocale delete",
        "operationId": "experiencelocale-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "ExperienceLocale"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceLocaleIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceLocaleIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/ms7tl779p3us138/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "ExperienceLocale read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "experiencelocale-read",
        "tags": [
          "ExperienceLocale"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceLocaleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/ms7tl779p3us138/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vws1fp7c80j26whg"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vws1fp7c80j26whg - ExperienceLocale",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "ExperienceLocale count",
        "operationId": "experiencelocale-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "ExperienceLocale"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/mvg7ly9o5s02kle/records": {
      "get": {
        "summary": "ExperienceHighlight list",
        "operationId": "experiencehighlight-db-table-row-list",
        "description": "List of all rows from ExperienceHighlight table and response data fields can be filtered based on query params.",
        "tags": [
          "ExperienceHighlight"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vwa4sx64mfb0vsb7"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwa4sx64mfb0vsb7 - ExperienceHighlight",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExperienceHighlightResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "ExperienceHighlight create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "experiencehighlight-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceHighlightResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ExperienceHighlight"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceHighlightRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceHighlightRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "ExperienceHighlight update",
        "operationId": "experiencehighlight-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ExperienceHighlight"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceHighlightRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceHighlightRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "ExperienceHighlight delete",
        "operationId": "experiencehighlight-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "ExperienceHighlight"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExperienceHighlightIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExperienceHighlightIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mvg7ly9o5s02kle/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "ExperienceHighlight read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "experiencehighlight-read",
        "tags": [
          "ExperienceHighlight"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceHighlightResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mvg7ly9o5s02kle/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vwa4sx64mfb0vsb7"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwa4sx64mfb0vsb7 - ExperienceHighlight",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "ExperienceHighlight count",
        "operationId": "experiencehighlight-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "ExperienceHighlight"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/m0eyo7az9b8icq5/records": {
      "get": {
        "summary": "Project list",
        "operationId": "project-db-table-row-list",
        "description": "List of all rows from Project table and response data fields can be filtered based on query params.",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vwrhbpcxoo4yxqhi"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwrhbpcxoo4yxqhi - Project",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Project create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "project-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Project update",
        "operationId": "project-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Project delete",
        "operationId": "project-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Project"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/m0eyo7az9b8icq5/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "Project read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "project-read",
        "tags": [
          "Project"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/m0eyo7az9b8icq5/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vwrhbpcxoo4yxqhi"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwrhbpcxoo4yxqhi - Project",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Project count",
        "operationId": "project-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/mvycmtfajv61kgd/records": {
      "get": {
        "summary": "ProjectLocale list",
        "operationId": "projectlocale-db-table-row-list",
        "description": "List of all rows from ProjectLocale table and response data fields can be filtered based on query params.",
        "tags": [
          "ProjectLocale"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vw6su5km23m29sbc"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw6su5km23m29sbc - ProjectLocale",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectLocaleResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "ProjectLocale create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "projectlocale-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectLocaleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ProjectLocale"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectLocaleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectLocaleRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "ProjectLocale update",
        "operationId": "projectlocale-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "ProjectLocale"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectLocaleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectLocaleRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "ProjectLocale delete",
        "operationId": "projectlocale-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "ProjectLocale"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProjectLocaleIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectLocaleIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mvycmtfajv61kgd/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "ProjectLocale read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "projectlocale-read",
        "tags": [
          "ProjectLocale"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectLocaleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/mvycmtfajv61kgd/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vw6su5km23m29sbc"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw6su5km23m29sbc - ProjectLocale",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "ProjectLocale count",
        "operationId": "projectlocale-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "ProjectLocale"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/m5kxnwxf9f7rkkj/records": {
      "get": {
        "summary": "Education list",
        "operationId": "education-db-table-row-list",
        "description": "List of all rows from Education table and response data fields can be filtered based on query params.",
        "tags": [
          "Education"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vwn60voh6kvxp1jd"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwn60voh6kvxp1jd - Education",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Education create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "education-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Education"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EducationRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EducationRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Education update",
        "operationId": "education-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Education"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EducationRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EducationRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Education delete",
        "operationId": "education-delete",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Education"
        ],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EducationIdRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EducationIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/m5kxnwxf9f7rkkj/records/{recordId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          }
        ],
        "summary": "Education read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "education-read",
        "tags": [
          "Education"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tables/m5kxnwxf9f7rkkj/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vwn60voh6kvxp1jd"
            ]
          },
          "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwn60voh6kvxp1jd - Education",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Education count",
        "operationId": "education-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": [
          "Education"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/myr5jk40v3iw30s/records": {
      "get": {
        "summary": "EducationLocale list",
        "operationId": "educationlocale-db-table-row-list",
        "description": "List of all rows from EducationLocale table and response data fields can be filtered based on query params.",
        "tags": [
          "EducationLocale"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "vwz3wsxaqpweskgb"
              ]
            },
            "description": "Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwz3wsxaqpweskgb - EducationLocale",
            "name": "viewId",
            "in": "query",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `NC_DB_QUERY_LIMIT_DEFAULT` and `NC_DB_QUERY_LIMIT_MAX` respectively.",
            "example": 25
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "in": "query",
            "name": "shuffle",
            "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
            "example": 0
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationLocaleResponse"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "EducationLocale create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "educationlocale-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationLocaleResponse"
[...]
